@import "tailwindcss";

@theme {
  --color-slate-850: #151f32;
}

/* 2. Definindo o modo escuro por classe */
@custom-variant dark (&:where(.dark, .dark *));

/* 3. Estilos de Base */
body {
  font-family: 'Inter', sans-serif;
  margin: 0;
}

/* 4. Suas Scrollbars Customizadas */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}

/* Dark mode scrollbar */
.dark ::-webkit-scrollbar-thumb {
  background: #475569;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: #64748b;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

.spinner-container {
  text-align: center;
  color: #2c3e50;
  font-family: sans-serif;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 0 auto 15px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

button, 
[role="button"],
input[type="submit"] {
  cursor: pointer !important;
}

/* toast */
.toast-container .ngx-toastr {
  width: 90vw !important;
  max-width: 250px !important;
  max-height: 200px !important;
}

.toast-title {
  font-size: 12px !important;
}

.toast-message {
  font-size: 10px !important;
}